<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<div class="tatHeader">
    {{#if buildNumber}}
        <p>
            Build number:
            <select id="tatBuildNumber">
                <option>{{buildNumber}}</option>
            </select>
        </p>
    {{/if}}
    <p>
        Start date:
        <time id="tatStartDate" datetime="{{isoStartDate}}">{{startDate}}</time>.
    </p>
    <p>
        End date:
        <time datetime="{{isoEndDate}}">{{endDate}}</time>.
    </p>
    <p>
        Total time: {{duration}}.
    </p>
    <p>
        Target environment: {{env.name}}
        (<a href="{{env.url}}">{{env.url}}</a>).
    </p>
    <p>
        Source branch:
        {{#if branch}}
            {{branch}}
            (<a href="https://github.com/wmgdsp/tango-app/commit/{{commit.hash}}">{{commit.shortHash}}</a>).
        {{else}}
            unknown.
        {{/if}}
    </p>
    <p>
        Included tags:
        {{#if includedTagsString}}
            {{includedTagsString}}.
        {{else}}
            all.
        {{/if}}
    </p>
    <p>
        Excluded tags:
        {{#if excludedTagsString}}
            {{excludedTagsString}}.
        {{else}}
            none.
        {{/if}}
    </p>
    <p>
        Total steps:
        <span class="tatTotalSteps"></span>
        (<span class="tatTotalPassed passed"></span>
        / <span class="tatTotalFailed failed"></span>).
    </p>
</div>
<style>
    .tatTotalPassed, .tatTotalFailed {
        padding: 0;
    }

    h4 {
        display: inline-block;
    }

    h4:before {
        padding-left: 16px;
        padding-right: 12px;
    }

    ul.passed, ul.failed {
        color: inherit;
    }

    ul.passed > h4:before {
        content: '✓';
        color: green;
    }

    ul.failed > h4:before {
        content: '✗';
        color: red;
    }

    .toggle {
        position: relative;
        top: -2px;
        width: 32px;
    }

    .toggle:before {
        content: '+';
    }

    .toggle.active:before {
        content: '–';
    }
</style>
<script>
    'use strict';

    var reportDate = new Date($('#tatStartDate').attr('datetime')),
        buildNumber = parseInt($('#tatBuildNumber').val());

    // Allow navigation to previous reports.
    (function() {
        function reportUrlFromBuildNumber(number) {
            return top.location.href.replace(
                /(\/[0-9]+)?\/HTML_Report\//, '/' + number + '/HTML_Report/'
            );
        }

        var $select = $('#tatBuildNumber');

        for(var i = buildNumber - 1; i > 0; --i) {
            $select.append($('<option>').text(i));
        }

        $select.change(function() {
            var $this = $(this);

            top.location.href = reportUrlFromBuildNumber($this.val());
        });
    })();

    // Open screenshots in new tabs.
    $('li > a').attr('target', '_blank');

    // Remove repeated list description prefixes.
    $('li:first-of-type > a').each(function() {
        var $this = $(this),
            $parentLists = $this.parents('ul'),
            $parentListDescriptions = $parentLists.children('h4');

        $parentListDescriptions.each(function() {
            var $this = $(this),
                text = $this.text(),

                $parentListDescription = $($this.parents('ul')[1]).children('h4'),
                reResults = /(.+) \(.+\)$/.exec($parentListDescription.text());

            if(reResults && text.startsWith(reResults[1])) {
                text = text.slice(reResults[1].length + 1);
            }

            $this.text(text);
        });
    });

    // Add classes from test tags.
    $('ul').each(function() {
        var $this = $(this);

        $this.addClass(function() {
            var listDescription = $this.children('h4').text(),
                reResults = /Tags: '(.+)'\. \(.+\)$/.exec(listDescription),
                tags;

            if(!reResults) {
                return '';
            }

            tags = (
                reResults[1]
                    .replace(/[ ']/g, '')
                    .split(',')
                    .map(function(tag) {
                        return 'tatTag__' + tag;
                    })
            );

            return tags.join(' ');
        }());
    });

    // Group lists by component tags.
    (function() {
        var componentTags = {
                copyrightRegistration: 'Copyright Registration',
                dataUtilities: 'Data Utilities',
                deals: 'Deals',
                financialInterfaces: 'Financial Interfaces',
                incomeManagement: 'incomeManagement',
                payees: 'Payees',
                royaltyProcessing: 'Royalty Processing',
                royaltyRates: 'Royalty Rates',
                works: 'Works',
                unknown: 'Unknown'
            },

            componentTagNames = Object.keys(componentTags),

            $newBody = $('<div>');

        componentTagNames.forEach(function(name) {
            var tagData = {
                    description: componentTags[name]
                },

                $ul = $('<ul>');

            $ul.append($('<h4>').text(tagData.description));

            tagData.$ul = $ul;

            componentTags[name] = tagData;
        });

        $('body > ul').each(function() {
            var $this = $(this);

            componentTagNames.some(function(name) {
                var tagData = componentTags[name],
                    $ul = tagData.$ul;

                if(
                    name === 'unknown' ||
                    $this.find('.tatTag__' + name).length !== 0
                ) {
                    $ul.append($this);
                    return true;
                }
            });
        });

        componentTagNames.forEach(function(name) {
            var tagData = componentTags[name],
                $ul = tagData.$ul;

            if($ul.children('ul').length === 0) {
                return;
            }

            $('body').append(tagData.$ul);
        });
    })();

    $('ul').each(function() {
        var $this = $(this);

        // Add list status (passed or failed) class.
        $this.addClass(
            $this.find('.failed').length === 0
                ? 'passed'
                : 'failed'
        );

        // Add list expand / collapse toggle.
        $this.prepend($('<button>').addClass('toggle active'));
    });

    // Setup list toggles click handler.
    $('body').on('click', '.toggle', function() {
        var $this = $(this),
            $listItems = $this.closest('ul').children('ul, li');

        $this.toggleClass('active');

        if($this.hasClass('active')) {
            $listItems.show();
        }
        else {
            $listItems.hide();
        }
    });

    // Collapse all lists.
    $('.toggle').click();

    // Count total steps.
    (function() {
        $('.tatTotalSteps').text($('li > a').length);

        $('.tatTotalPassed').text(
            $('li > .passed ~ a').length + ' ✓'
        );

        $('.tatTotalFailed').text(
            $('li > .failed ~ a').length + ' ✗'
        );
    })();
</script>
